@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 768px) 
and (-webkit-min-device-pixel-ratio: 2) {
    
    ::-webkit-scrollbar {
        width: 0px;
    }
    
    nav {
        padding: 0;
    }
    
    .bz-name {
        width: 80px;
        padding: 0;
        margin: 0;
        background: #d5ab34;
    }

    .bz-name svg {
        margin: 0;
        height: 70%;
    }
    
    .bz-name span {
        display: none;
    }
    
    -webkit-@keyframes preloader {
        from {
            height: 100%;
        }

        to {
            height: 80px;
        }
    }

    @keyframes preloader {
        from {
            height: 100%;
        }

        to {
            height: 80px;
        }
    }
    
    .bz-direction {
        display: block;
        width: calc(100% - 80px);
    }
    
    .bz-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 50%;
        margin: 0;
        border-right: 1px solid rgba(255,255,255,0.2);
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }
    
    .bz-link ion-icon {
        font-size: 14px;
    }
    
    .bz-link:nth-child(2) {
        border-right: 0;
    }
    
    .bz-social {
        display: flex;
        align-items: center;
        justify-content: center;
        float: left;
        width: calc(100% / 6);
        height: 50%;
        margin: 0;
        border-right: 1px solid rgba(255,255,255,0.2);
    }
    
    .bz-social ion-icon {
        font-size: 14px;
    }
    
    .bz-social:nth-child(7) {
        border: 0;
    }
    
    .bz-link-box {
        width: calc(100% / 6);
        height: 50%;
        padding: 0;
        margin: 0;
        border-radius: 0;
    }
    
    .bz-link-box ion-icon {
        margin: 0;
    }
    
    .bz-link-box span {
        display: none;
    }
    
    main {
        top: 80px;
        width: 100%;
        height: calc(100% - 120px);
        padding: 0 5%;
        margin: 0;
    }
    
    .bz-image {
        display: none;
    }
    
    .bz-container {
        width: 100%;
    }

    .bz-img-mobile {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        float: left;
        width: 100%;
        height: 100px;
        padding: 0;
        margin: 0 0 4% 0;
    }
    
    .bz-img-mobile svg {
        width: auto;
        height: 100%;
    }
    
    .bz-label {
        display: flex;
        align-items: center;
        justify-content: center;
        float: left;
        width: 100%;
        font-size: 28px;
    }
    
    .bz-text {
        float: left;
        font-size: 14px;
        margin: 4% 0 8% 0;
        text-align: center;
    }
    
    .btn-more {
        float: none;
        width: 60%;
        padding: 10px 0;
        font-size: 12px;
        margin: 0 auto;
    }
    
    .btn-more ion-icon {
        font-size: 12px;
    }
    
    .bz-copyright {
        margin: 8% 0 0 0;
        font-size: 6px;
        text-align: center;
    }
    
    .bz-service-container {
        margin: 0 0 20% 0;
    }
    
    .bz-about-description .bz-label {
        font-size: 20px;
    }
    
    .bz-label ion-icon {
        margin: 0 5px 0 0;
        font-size: 24px;
    }
    
    .bz-about-description .bz-description {
        font-size: 14px;
        margin: 8% 0 0 0;
    }
    
    .bz-video-container {
        height: auto;
        margin: 8% 0 0 0;
    }
    
    .bz-video-container iframe {
        width: 100%;
        height: auto;
    }
    
    .bz-about-description {
        height: 100%;
        padding: 20% 0;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
        
}